doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;700&display=swap", rel="stylesheet")
    title Statistics confirmed coronacases
  body
    h1 Confirmed numbers of coronacases per country
      section
        .container
          div#summaries
  
  a.nav(href='/revise') Go to update page

  script(src='https://coronamaplisa.herokuapp.com/primus/primus.js')
  script(src='../javascripts/index.js')